{{!-- <h1> Chat Messages</h1>

<divc class="ms-2">
    <button id="startChat">Start chat</button>
    <input type="text" id="chatBox">
    <button id="chatButton">Send</button>
    </div>
    <div class="ms-2">
        <p id="messagesP"></p>
    </div> --}}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-8 bg-dark text-white rounded p-3">
                <h1>Chat Messages</h1>
                <div class="ms-2">
                    <button id="startChat" class="btn btn-outline-light btn-lg rounded my-3">Start chat</button>
                    <input type="text" id="chatBox" class="form-control custom-input"
                        placeholder="Type your message...">
                    <button id="chatButton" class="btn btn-outline-success btn-lg rounded my-3">Send </button>
                </div>
                <div class="ms-2" style="max-height: 100vh; overflow-y: auto;">
                    <p id="messagesP"></p>
                </div>
            </div>
        </div>
    </div>

    <style>
        .custom-input {
            width: 80%;
            /* Ancho personalizado, puedes ajustarlo según tus necesidades */
            padding: 20px;
            /* Espaciado interno para un mejor aspecto */
        }
    </style>