<h1> Chat Messages</h1>

<divc class="ms-2">
    <button id= "startChat">Start chat</button>
    <input type="text" id="chatBox">
    <button id="chatButton">Send</button>
    </div>
    <div class="ms-2">
        <p id="messagesP"></p>
    </div>