<footer class=" custom-footer">
    <div class="container d-flex justify-content-center align-items-center">
        <a class="navbar-brand mx-3" href="https://github.com/Leonardo-Nino">
            <i class="bi bi-github" style="font-size: 2rem;"></i>
        </a>
        <a class="navbar-brand mx-3" href="https://www.linkedin.com/in/leonardo-nino">
            <i class="bi bi-linkedin" style="font-size: 2rem;"></i>
        </a>
    </div>
</footer>

<style>
    /* Estilos personalizados para el footer */
    .custom-footer {
        background-color: #0f1215;
        /* Color de fondo */
        color: #fff;
        /* Color del texto */
        height: 100px;
        /* Altura personalizada */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Estilos para los iconos */
    .custom-footer .navbar-brand {
        font-size: 2rem;
        margin: 0 10px;
    }
</style>